* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: Arial, sans-serif;
}

/* Navigation */

.navbar {
display: flex;
justify-content: space-between;
align-items: center;

padding: 20px 10%;
background: black;
color: white;

}

.nav-links {
display: flex;
list-style: none;
gap: 25px;
}

.nav-links a {
color: white;
text-decoration: none;
}

/* Hero Section */

.hero {
height: 400px;

display: flex;
justify-content: center;
align-items: center;

text-align: center;

padding: 20px;

}

.hero-text h1 {
font-size: 50px;
}

.hero-text p {
margin-top: 15px;
font-size: 20px;
}

button {
margin-top: 20px;
padding: 12px 25px;

border: none;
cursor: pointer;

font-size: 16px;

}

/* Cards */

.cards {
display: flex;
justify-content: center;

gap: 20px;

padding: 40px;

}

.card {
width: 250px;

padding: 25px;

border: 1px solid #ccc;

text-align: center;

}

/* TABLET */

@media (max-width: 768px) {

.hero-text h1 {
    font-size: 40px;
}

.cards {
    flex-wrap: wrap;
}

}

/* MOBILE */

@media (max-width: 480px) {

.navbar {
    flex-direction: column;
    gap: 15px;
}

.nav-links {
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.hero-text h1 {
    font-size: 30px;
}

.hero-text p {
    font-size: 16px;
}

.cards {
    flex-direction: column;
    align-items: center;
}

}